/* Flexbox CSS */
.flexItem {
    width: 200px;
    background-color: lightblue;
    margin: 10px;
    border: 2px black solid;
    text-align: center;
    justify-content: center;
}

.cross-axis {
    position: absolute;
    right: 50%;
    height: 1080px;
    width: 3px;
    background-color: blue;
}

.main-axis{
    position: absolute;
    height: 3px;
   width: 2160px;
   top: 50%;
   background-color: red;
}